* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  width: auto;
}
nav {
  background-color: rgb(220, 215, 199);
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  /* vertical-align: center; */
}
ul li {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 0px 10px;
}
ul li:hover {
  background-color: rgb(203, 198, 183);
}
ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.logo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0px 100px;
  padding: 10px 0px 0px 0px;
}
.cart {
  margin: 0px 10px;
}
.heading {
  width: 1200px;
  margin: 30px auto;
}
.heading img {
  border-radius: 30px;
}
.heading p {
  margin: 50px auto;
}
.products {
  display: flex;
  margin: 50px;
  justify-content: center;
}
.products img {
  display: block;
  margin: 10px;
}
footer {
  background-color: rgb(220, 215, 199);
  width: auto;
  height: 110px;
  display: flex;
  justify-content: center;
}
