:root {
  --basic-color: rgb(164, 117, 69);
  --fontsize: 20px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
main {
  text-align: center;
}
nav {
  background-color: var(--basic-color);
  width: 100%;
  height: 125px;
  text-align: center;
  position: sticky;
  top: 0px;
}
.logo {
  width: 120px;
  height: 120px;
  margin: 0px 150px;
}
ul li {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: var(--fontsize);
  margin: 5px 10px;
}
ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
ul li a:hover {
  background-color: rgb(190, 185, 170);
}
#login {
  background-color: var(--basic-color);
  color: rgb(255, 255, 255);
  font-size: var(--fontsize);
  text-align: center;
}
#login button {
  background-color: var(--basic-color);
  color: white;
  border: 2px solid white;
  font-size: var(--fontsize);
  padding: 15px 32px;
  text-align: center;
  margin: 10px 5px;
  cursor: pointer;
}
#login,
#sing_up_form,
#delete_acc,
#logout {
  margin: 10px;
  display: none;
}
#sing_up_form input,
#sing_up_form label {
  display: inline-block;
  margin: 5px;
}
#sing_up_form label {
  text-align: left;
  width: 25%;
}
#sing_up_form input {
  text-align: left;
  width: 50%;
}
.cart {
  margin: 0px 10px;
}
/* 解決固定nav定位錯誤問題 */
:target:before {
  content: "";
  display: block;
  height: 125px;
}
.heading img {
  margin: 30px auto;
  width: 80%;
  border-radius: 30px;
}
.about,
.news {
  margin: 30px;
  text-align: center;
}
.menu {
  max-width: 60%;
  margin: 30px auto;
  border: dotted 5px var(--basic-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.menu_title {
  background-color: var(--basic-color);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40%;
}
.hiddenimg {
  display: none;
  position: absolute;
}
.hiddenimg img {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2), 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.flavor:hover ~ .hiddenimg {
  display: block;
  position: absolute;
  z-index: 1;
}
.dessert:hover ~ .hiddenimg {
  display: block;
  position: absolute;
  z-index: 1;
}
.flavor p,
.dessert p {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 20%;
}
.price {
  display: inline-block;
  text-align: right;
  width: 20%;
  margin: 10px;
}
.input_group {
  display: inline;
}
.products {
  display: flex;
  margin: 50px;
  justify-content: center;
}
.products img {
  margin: 10px;
}
footer {
  background-color: var(--basic-color);
  width: auto;
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}
.top {
  background-color: var(--basic-color);
  width: 80px;
  height: 80px;
  border-radius: 60%;
  text-align: center;
  line-height: 80px;
  color: #212529;
  text-decoration: none;
  display: block;
  position: fixed;
  margin: auto;
  right: 50px;
  bottom: 150px;
}
