:root {
  --background-color: rgb(164, 117, 69);
  --font-color: rgb(255, 255, 255);
  --fontsize: 20px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#login {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--fontsize);
  text-align: center;
}
#login-form label,
#login-form input,
#sign-up-form label,
#sign-up-form input,
#sign-up-form select {
  display: inline-block;
  margin: 5px;
}
#login button {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--fontsize);
  border: 2px solid var(--font-color);
  padding: 10px 20px;
  text-align: center;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}
#login-form label,
#sign-up-form label {
  text-align: left;
  width: 30%;
}
#login-form input,
#sign-up-form input,
#sign-up-form select {
  padding: 5px;
  text-align: left;
  width: 50%;
  border: none;
  border-radius: 5px;
}
#login-form input:focus,
#sign-up-form input:focus,
#sign-up-form select:focus {
  outline: none;
}
#sign-up-form hr {
  margin: 10px 0;
}
#sign-up-form select {
  width: 53%;
}
#login-form,
#sign-up-form,
#logout,
#delete-mumber {
  margin: 10px;
  display: none;
}
#btn-google {
  display: block;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--fontsize);
  border: 2px solid var(--font-color);
  padding: 10px 10px;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}
#message {
  background-color: #fff;
  color: red;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
}
