<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Cat's Coffee</title>
  </head>
  <body>
    <div class="container">
      <div class="col">
        <img
          src="https://picsum.photos/500/300/?random=1"
          alt=""
          class="w-100"
        />
        <!-- a.btn.btn-primary{加入購物車} -->
        <a href="" class="btn btn-outline-primary btn-block">加入購物車</a>
      </div>
      <div class="col">
        <img
          src="https://picsum.photos/500/300/?random=2"
          alt=""
          class="w-100"
        />
        <!-- a.btn.btn-primary{加入購物車} -->
        <a href="" class="btn btn-primary btn-block">加入購物車</a>
      </div>
      <div class="col">
        <img
          src="https://picsum.photos/500/300/?random=3"
          alt=""
          class="w-100"
        />
        <!-- a.btn.btn-primary{加入購物車} -->
        <a href="" class="btn btn-primary btn-block">加入購物車</a>
      </div>
    </div>
  </body>
</html>
