<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script >
        function test_json(){
            var dict = {username : "username" , password:"password"};

            $.ajax({
                type: "POST", 
                url: "http://127.0.0.1:5000/test_json", //localhost Flask
                data : JSON.stringify(dict),
                contentType: "application/json",
                success: function (data, textStatus, jqXHR){
                    console.log('success...');
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                    console.log('success...');
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('error...');
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }
        function test_div(){
            var dict = {username : $("#username").val() , password:"password"};

            $.ajax({
                type: "POST", 
                url: "http://127.0.0.1:5000/test_div", //localhost Flask
                data : JSON.stringify(dict),
                contentType: "application/json",
                success: function (data, textStatus, jqXHR){
                    console.log('success...');
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                    console.log('success...');
                    $('#test_div_result').html(data);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('error...');
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function sign_up(){
            var dict = {username : $("#username").val() , password:$("#password").val()};

            $.ajax({
                type: "POST", 
                url: "http://127.0.0.1:5000/login/sign_up", //localhost Flask
                data : JSON.stringify(dict),
                contentType: "application/json",
                success: function (data, textStatus, jqXHR){
                    console.log('success...');
                    console.log(data);
                    console.log(data.responseJSON);
                    console.log(textStatus);
                    console.log(jqXHR);
                    console.log('success...');
                    $('#test_div_result').html(data.message);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('error...');
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function sign_in(){
            var dict = {username : $("#username").val() , password:$("#password").val()};

            $.ajax({
                type: "POST", 
                url: "http://127.0.0.1:5000/login/sign_in", //localhost Flask
                data : JSON.stringify(dict),
                contentType: "application/json",
                success: function (data, textStatus, jqXHR){
                    console.log('success...');
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                    console.log('success...');
                    $('#test_div_result').html(data.message);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('error...');
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function delete_account(){
            var dict = {username : $("#username").val(), password:$("#password").val()};

            $.ajax({
                type: "POST", 
                url: "http://127.0.0.1:5000/login/delete_account", //localhost Flask
                data : JSON.stringify(dict),
                contentType: "application/json",
                success: function (data, textStatus, jqXHR){
                    console.log('success...');
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                    console.log('success...');
                    $('#test_div_result').html(data.message);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('error...');
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        
    </script>
</head>
<body>
    <button onclick="test_json();"> test_json</button>
    <button onclick="test_div();"> test_div</button>
    <button onclick="sign_up();"> SignUp</button>
    <button onclick="sign_in();"> Signin</button>
    <button onclick="delete_account();"> Delete</button>
    <br>
    <label for="username">User Name</label>
    <input type="text" id="username">
    <label for="password">Password</label>
    <input type="text" id="password">
    <br>
    <label for="test_div_result"> Result</label>
    <textarea readonly id="test_div_result"></textarea>

</body>
</html>